<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628622489345-llngi9hrg58bplaic7rc5t0isv7jdroa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628622489345-llngi9hrg58bplaic7rc5t0isv7jdroa</string>
	<key>API_KEY</key>
	<string>AIzaSyAnMhopt_A79rPFV6ZlWh-Tvj_7Qh9mSmo</string>
	<key>GCM_SENDER_ID</key>
	<string>628622489345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.partagezVos50.application</string>
	<key>PROJECT_ID</key>
	<string>partagez-vos-50</string>
	<key>STORAGE_BUCKET</key>
	<string>partagez-vos-50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628622489345:ios:18b1fe587edf9f95c60d00</string>
</dict>
</plist>